* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
html {
  font-size: 1rem;
  }
body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  overflow-x: hidden !important;
  }
img {
  max-width: 100%;
  height: auto;
  }
a {
  text-decoration: none !important;
  }

  /*******************************
          Main-Header
  ********************************/
  #main-header {
    position: absolute;
    background: transparent;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  #main-header .main-header-top {
    display: block;
    position: relative;
    background-color: #020e2a;
  }
  #main-header .top-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
 
  #main-header .top-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #main-header .top-menu li {
    display: inline-block;
    margin: 0 0.5rem;
    color: #fff;
  }
  #main-header .navbar .navbar-brand img {
    max-width: 100%;
    width: 200px;
    max-height: 100%;
  }
  #main-header .navbar .navbar-nav li a{
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.8rem;
    color: #fff;
  }
  #main-header .navbar .navbar-nav li a:hover {
    color: #fab909;
  }


/**************************************
                        SLIDE
**************************************/





/**************************************
                ABOUT
**************************************/

#about h2 {
  font-weight: 700;
  font-size: 2.5rem;
}
#about h2 > span {
  color: #fab909;
}
#about .about-para {
  margin-top: 2rem;
}
#about .countup {
  margin-top: 2rem;
}
#about .countup .count-inner {
  background: #fff;
  display: inline-block;
  padding: 1.3rem 2rem;
  margin: 0 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#about .countup .count-inner:nth-child(1) {
  margin-left: 0;
}
#about .countup .count-inner .counter {
  font-weight: 700;
  font-size: 2rem;
}
#about .countup .count-inner h4 {
  color: #020e2a;
}
#about .about-us-img {
  position: relative;
  z-index: 2;
}
#about .about-us-img::before {
  position: absolute;
  content: "";
  background-color: #fab909;
  width: 100%;
  height: 100%;
  left: -25px;
  top: 40px;
  z-index: -1;
}


/**************************************
                WHY
**************************************/

#why {
  position: relative;
  background: url('images/why-choose-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  height: 100%;
}
#why .why-work {
  position: relative;
  padding-top: 4rem;
  z-index: 2;
}
#why .why-work::before {
  background-color: #020e2a;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
#why .why-work h2 {
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  margin: 0 3rem;
  color: #fff;
}
#why .why-work h2 >span {
  color: #fab909;
}
#why .why-work .why-item {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
}
#why .why-work .why-item img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 50px;
}
#why .why-work .why-item h4 {
  font-weight: 500;
  color: #fff;
}
#why .why-work .why-item p {
  color: #fff;
  font-size: 0.9rem;
}


/**************************************
                SERVICES
**************************************/
#services .title {
  max-width: 575px;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}
#services .title span {
  font-weight: 300;
  color: #fab909;
  margin-bottom: 1rem;
}
#services .title h2 {
  font-weight: 700;
  color: #020e2a;
  margin-bottom: 1rem;
}
#services .service-grid-carousel {
  display: flex;
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-top: -1rem;
}
#services .service-tab-list {
  -webkit-box-flex: 1;
  flex: 1;
  max-width: 100%;
  width: 100%;
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-top: 1rem;
}
#services .inner {
  padding: 25px 25px 18px;
  border: 1px solid #ececec;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
  height: 100%;
}
#services .service-grid-carousel.service-grid-carousel-two .service-tab-list.service-tab-active .inner {
  box-shadow: 0px 11px 61px 3px rgb(34 34 34 / 9%);
  background-color: transparent;
  border: 1px solid #ececec;
}
#services .service-grid-carousel.service-grid-carousel-two .service-tab-list.service-tab-active .inner::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
#services .service-details-carousel.service-details-carousel-two {
  box-shadow: 0px 11px 61px 3px rgb(34 34 34 / 9%);
  padding: 50px;
  margin-top: 3rem;
}
#services .service-details-carousel.service-details-carousel-two .service-details-carousel-item {
  display: none;
}
#services .service-details-carousel.service-details-carousel-two .service-tab-details img {
  max-width: 100%;
  width: 250px;
  max-height: 100%;
}
#services .service-details-carousel.service-details-carousel-two .service-tab-details .btn-service {
  background: #fab909;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  border: 0px;
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
#services .service-details-carousel.service-details-carousel-two .service-tab-details .btn-service:hover {
  background: #020e2a;
  transition: all 0.4s ease-in-out;
}
#services .service-details-carousel.service-details-carousel-two .service-tab-details .btn-service:focus {
  outline: 0;
  box-shadow: none;
}

/**************************************
                Partners
**************************************/
#partners {
  background: #fafafa;
}
#partners .title {
  max-width: 575px;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}
#partners .title span {
  font-weight: 300;
  color: #fab909;
  margin-bottom: 1rem;
}
#partners .title h2 {
  font-weight: 700;
  color: #020e2a;
  margin-bottom: 1rem;
}
#partners .owl-theme .owl-nav {
  display: none;
}
#partners .owl-theme .owl-dots {
  margin-top: 2rem;
}
#partners .owl-theme .owl-dots .owl-dot span {
  background: #020e2a;
}
#partners .owl-theme .owl-dots .owl-dot.active span {
  width: 20px;
}




/**************************************
                Recrutment
**************************************/
#recrutment .box {
  background-color: #fff;
  padding: 40px 40px 10px;
  box-shadow: 0px 11px 61px 3px rgb(34 34 34 / 9%);
  margin-bottom: -180px;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}
#recrutment .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 35px;
  top: 35px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.271);
  z-index: -1;
}
#recrutment .box .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#recrutment .box .inner .text-box h3{
  font-weight: 700;
}
#recrutment .box .inner .text-box p {
  margin-bottom: 3rem;
}
#recrutment .box .inner .btn-requiert {
  background-color: #fab909;
  font-weight: 500;
  width: 200px;
  height: 40px;
}
#recrutment .box .inner .btn-requiert:focus {
  outline: 0;
  box-shadow: none;
}






/**************************************
                Footer
**************************************/

#footer.footer-shape {
  position: relative;
  background-color: #030916;
}
#footer.footer-shape::before {
  content: "";
  background-image: url(/images/shape-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  position: absolute;
  top: -1px;
  min-height: 180px;
  width: 100%;
}
#footer .footer-upper {
  padding-top: 8rem;
  background-image: url(images/footer-bg-two.png);
  background-position: center;
  background-size: cover;
}
#footer .footer-upper .footer-logo img {
  max-width: 200px;
}
#footer .footer-upper p {
  margin-top: 1rem;
  color: #ececec;
}
#footer .footer-right h2{
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #fff;
}
#footer .footer-right ul {
  list-style: none;
  padding: 0;
}
#footer .footer-right ul li {
  margin-bottom: 1rem;
}
#footer .footer-right ul li a {
  color: #fff;
  transition: all 0.4s ease-out;
}
#footer .footer-right ul li a:hover{
  color: #fab909;
  transition: all 0.4s ease-out;
}
#footer .footer-right .line {
  border: 1px solid #fab909;
  padding: 1rem 1.3rem 0;
  border-radius: 10px;
}
